certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
pytz @ file:///C:/Windows/TEMP/abs_90eacd4e-8eff-491e-b26e-f707eba2cbe1ujvbhqz1/croots/recipe/pytz_1654762631027/work
wincertstore==0.2
